:root {
  --main-color: #dbec5f;
  --sub-color: rgb(100, 100, 100);
}

/*
div {
  width: 100px;
  height: 100px;
  background-color: var(--main-color);
}
*/

.box {
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: left;
}

.logo {
  width: 200px;
  height: 200px;
  cursor: pointer;

  animation: 3s awesome infinite alternate;
}

@keyframes awesome {
  0% {
    transform: translate(0) rotate(0);
  }
  50% {
    transform: translateX(200px) rotate(360deg);
    /* background-color: var(--sub-color); */
  }
  100% {
    transform: translate(50px, 100px) s;
  }
}
.txt {
  display: none;
}
@media screen and (max-width: 600px) {
  .box {
    background-color: var(--main-color);
  }
  .txt {
    display: block;
  }
}
